
<main>
  <header class='title'>
    <img [src]="pokemon?.sprites?.front_default" [title]="pokemon?.name" [alt]="pokemon?.name">
    <h2>Number: {{pokemon?.id}}</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="send(form.getRawValue())">

    <poke-detail-field label="Name">
      <input detailField editAllOnClick [allowEdition]="editInput" formControlName="name">
      <poke-async-validation-message>
        Validating name availability
      </poke-async-validation-message>
      <poke-error *ngIf="getControlErrors('name')['match'] as match">
        Name not available, matches Pokemon's number {{ match }}
      </poke-error>
      <poke-error *ngIf="getControlErrors('name')['required']">
        The name is required
      </poke-error>
    </poke-detail-field>

    <poke-detail-field label="Base experience">
      <input detailField editAllOnClick [allowEdition]="editInput" formControlName="base_experience">
    </poke-detail-field>

    <poke-detail-field label="Height">
      <input detailField editAllOnClick [allowEdition]="editInput" formControlName="height">
    </poke-detail-field>

    <poke-detail-field label="Order">
      <input detailField editAllOnClick [allowEdition]="editInput" formControlName="order">
    </poke-detail-field>

    <poke-detail-field label="Weight">
      <input detailField editAllOnClick [allowEdition]="editInput" formControlName="weight">
    </poke-detail-field>

    <div [formGroup]="form.controls.species">
      <poke-detail-field label="Species">
        <input detailField editAllOnClick [allowEdition]="editInput" formControlName="name">
      </poke-detail-field>
    </div>

    <poke-detail-field label="Location area of encounters">
      <input detailField editAllOnClick [allowEdition]="editInput" formControlName="location_area_encounters">
    </poke-detail-field>


    <poke-expansion-panel *ngIf="getFormArray('abilities').controls.length">
      <header>Abilities</header>
      <div class="list">
        <ng-container *ngFor="let abiliy of getFormArray('abilities').controls">
          <input detailField editAllOnClick [allowEdition]="editInput" [formControl]="abiliy">
        </ng-container>
      </div>
    </poke-expansion-panel>

    <poke-expansion-panel *ngIf="getFormArray('forms').controls.length">
      <header>Forms</header>
      <div class="list">
        <ng-container *ngFor="let form of getFormArray('forms').controls">
          <input detailField editAllOnClick [allowEdition]="editInput" [formControl]="form">
        </ng-container>
      </div>
    </poke-expansion-panel>

    <poke-expansion-panel *ngIf="getFormArray('held_items').controls.length">
      <header>Held items</header>
      <div class="list">
        <ng-container *ngFor="let held_item of getFormArray('held_items').controls">
          <input detailField editAllOnClick [allowEdition]="editInput" [formControl]="held_item">
        </ng-container>
      </div>
    </poke-expansion-panel>

    <poke-expansion-panel *ngIf="getFormArray('moves').controls.length">
      <header>Moves</header>
      <div class="list">
        <ng-container *ngFor="let move of getFormArray('moves').controls">
          <input detailField editAllOnClick [allowEdition]="editInput" [formControl]="move">
        </ng-container>
      </div>
    </poke-expansion-panel>

    <poke-expansion-panel *ngIf="getFormArray('types').controls.length">
      <header>Types</header>
      <div class="list">
        <ng-container *ngFor="let move of getFormArray('types').controls">
          <input detailField editAllOnClick [allowEdition]="editInput" [formControl]="move">
        </ng-container>
      </div>
    </poke-expansion-panel>

    <!-- Actions -->
    <div class="actions" *ngIf="form.touched">
      <button type="submit"
        class="save"
        [disabled]="form.invalid">
        <span>Save changes</span>
      </button>
      <button type="button" class="reset" (click)="resetForm()">
        <span>Cancel</span>
      </button>
    </div>
  </form>
</main>

