/* Imported files */

/*#region Theme definitions */


/*#endregion Theme definition */

/*#region Styling structure */

body {
  margin: 0;
}

/* Button element's color themes */
@mixin button-theming($primary, $secondary, $primary-hover, $secondary-hover) {
  color: $primary;
  background-color: $secondary;
  outline-color: $primary;

  &:hover {
    color: $primary-hover;
    background-color: $secondary-hover;
    outline-color: $primary-hover;
  }

}

button {
  padding: .3em .6em;
  outline-style: solid;
  outline-width: .1em;
  border-radius: .2em;

  @include button-theming(#36c, white, white, #36c);

  &:disabled {
    @include button-theming(#444, #BBB, #444, #BBB);
    cursor: default;
  }

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;

  li {
    margin: .5em 1em;
  }
}

/*#endregion Styling structure */

// Styling for directives
[detailField] {
  outline: none;
  border: none;
  border-bottom: 2px solid #888;
  color: inherit;
  font-size: inherit;
  background-color: rgba(255,255,255,0.4);
  transition: background-color .2s;
  border-radius: .2em;

  padding: .1em .5em;

  &:active,
  &:focus {
    border-bottom-color: #222;
  }

  &.ng-pending {
    border-bottom-color: blue;
  }

  &.ng-invalid {
    border-bottom-color: red;
  }

  &.ng-untouched {
    cursor: pointer;
    border-color: transparent;
    background-color: transparent;

    &:hover {
      background-color: rgba(127,127,127,0.4);
    }
  }
}
