/* Imported files */

/*#region Theme definitions */


/*#endregion Theme definition */

/*#region Styling structure */

body {
  margin: 0;
}

/* Button element's color themes */
@mixin button-theming($primary, $secondary, $primary-hover, $secondary-hover) {
  color: $primary;
  background-color: $secondary;
  outline-color: $primary;

  &:hover {
    color: $primary-hover;
    background-color: $secondary-hover;
    outline-color: $primary-hover;
  }

}

button {
  padding: .3em .6em;
  outline-style: solid;
  outline-width: .1em;

  @include button-theming(#36c, white, white, #36c);

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*#endregion Styling structure */
